<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<link href="index.css" rel="stylesheet">
<body>
    <h1>USER 목록 </h1>
    <ul>
        <% userids.forEach(function(user) { %>
            <li>
                <a href="/user-posts/<%= user.userid %>"><%= user.userid %></a>
                <button onclick="addFriend('<%= user.userid %>')">친구추가하기</button>
            </li>
        <% }); %>
    </ul>
    
</body>
</html>
